/* CSS RESET */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2rem;
}

/* HEADER */

header{
    width: 100%;
    height: 180px;
    background-color: rgb(0, 153, 255);
    background-image: url('../img/pattern.png');
}

.header-logo{
    height: 100px;
    margin-top: 60px;
    margin-left: 20px;
}
 /* /HEADER */

 /* COMMON */

 .main-container{
    margin: 15px;
    width: 100%;
 }

 .yellow-highlighter{
    background-color: #FFFF00;
 }

 /* TITLE SECTION */

 .subtitle{
    color: gray;
    margin-top: 0;
    margin-bottom: 0;
 }

 h1{
    font-size: 5rem;
    margin-bottom: 0;
 }

 .span-subtitle{
    color: rgb(0, 179, 255);
 }

 .subtitle-date{
    font-size: 2rem;
    color: gray;
    margin-top: 0;
 }
/* /TITLE SECTION */

 /* /PICTURES SECTION */

 .main-img-container{
    width: 100%;
    margin 5px;
    display: flex;

    /* .main-img-container img */
 }

 .tim-img1{
    width: 50%;
    margin: 10px;

 }
 .tim-img2{
    width: 40%;
    margin: 10px;
 }

.picture-subtext{
    margin-top: 0;
    font-size: 1rem;
}
/* /PICTURES SECTION */
 
/* TABLE SECTION */

table{
    width: 100%;
    border-spacing: 0px;
}
th{
    padding: 0;
    text-align: left;
    background-color: rgb(0, 179, 255);
}
tr{
    padding: 0;
    text-align: left;
    background-color: rgb(144, 219, 238);
}
#white-row{
    background-color: white;
}
/* /TABLE SECTION */

/* FOOTER */
footer{
    margin: 15px;
    margin-bottom: 50px;
}

#footer-sentence{
    margin-bottom: 5px;
    color: gray;
}

.footer-img{
    display: block;
}
/* /FOOTER */