/* CSS RESET */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2rem;
}

/* HEADER */
.header-container{
    width: 100%;
    height: 180px;
    background-color: lightblue;
    background-image: url('../img/pattern.png');
}

.header-logo{
    height: 100px;
    margin-top: 60px;
    margin-left: 20px;
}
 /* /HEADER */

 /* COMMON */
 .main-container{
    margin-top: 0;
    margin-bottom: 0;
    margin: 15px;
    width: 100%;
 }

 .yellow-highlighter{
    background-color: #FFFF00;
 }

 /* TITLE SECTION */
 .subtitle{
    color: gray;
    margin-top: 0;
    margin-bottom: 0;
 }

 h1{
    font-size: 5rem;
    margin-bottom: 0;
 }

 .span-subtitle{
    color: lightskyblue;
 }

 .subtitle-date{
    font-size: 2rem;
    color: gray;
    margin-top: 0;
 }
/* /TITLE SECTION */

 /* /PICTURES SECTION */
 .main-img-container{
    width: 100%;
    height: 600px;
 }

 .tim-img1{
    height: 100%;

 }
 .tim-img2{
    height: 100%;
 }
.picture-subtext{
    margin-top: 0;
    font-size: 1rem;
}
/* /PICTURES SECTION */
 

